.htaccess
.idea/
uploads/
blogs.dir/
upgrade/
backup-db/
advanced-cache.php
wp-cache-config.php
sitemap.xml
*.log
cache/
backups/
sitemap.xml.gz
wp-config.php
plugins/user-role-editor/
plugins/redirection/
plugins/restrict-categories/
